html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

a,
a:first-child {
  color: #8f2440;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.125rem;
}

a:hover {
  color: #3f1622;
  text-decoration: inherit;
}

img {
  width: 100%;
}

h1 {
  font-family:"PT Sans", sans-serif;
}

ol li {
  font-family: "PT Sans", sans-serif;
}

blockquote p {
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "PT serif", serif;
}

h2 {
  color:#3f1622;
}
