html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
}

h1 {
  font-size: 1.5rem;
}

a,
a:first-child {
  color: #8f2440;
}

a:hover {
  color: #222;
}

img {
  width: 50%;
}

h1 {
  font-family:"PT Sans", sans-serif;
}

ol li {
  font-family: "PT Sans", sans-serif;
}
